<div id='todoapp'>
    <div class='title'>
        <h1>Todos</h1>
    </div>
    <div class='content'>
        <form id='create-todo'>
            <input id='new-todo' name='name' placeholder='What needs to be done?' type='text' />
        </form>
        <div id='todos'>
            <ul class='items' id='todo-list'></ul>
        </div>
        <div id='todo-stats'> </div>
    </div> 
</div> 
