<!doctype html>
<html>
<head><title>...</title></head>
<body>
<script type='text/javascript' src='//code.jquery.com/jquery.min.js'></script>
<script type='text/javascript' src='/nquery.js' charset='utf-8'></script>
</body>
</html>

